<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.amit.schoolapplication" >
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity

            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Select_Locaitons"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_select__locaitons" >
        </activity>
        <activity
            android:name=".SchoolDetail"
            android:label="@string/title_activity_school_detail"
            android:theme="@style/TranslucentTheme"
            android:parentActivityName=".HomeActivity"
            >
        </activity>
    </application>

</manifest>
